<div class="table-container">
    <h2 class="title">Lista Docenti</h2>
    <table class="tabella">
        <thead>
            <tr>
                <th style="width: 5%;"></th>
                <th style="width: 5%;">Id</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <!-- Se è in modalità MODIFICA -->
            @if (modifica_attiva == true) {
                @for (docente of docenti(); track docente.id) {
                    @if (id_docente_in_modifica == docente.id){
                        <tr>
                            <td>#{{ $index+1 }}</td>
                            <td>{{ docente.id }}</td>
                            <td><input type="text" placeholder="Nome" [(ngModel)]="modifica_nuovo_nome"></td>
                            <td><input type="text" placeholder="Cognome" [(ngModel)]="modifica_nuovo_cognome"></td>
                            <td style="display: flex; justify-content: space-evenly;">
                                <button class="btn-delete" (click)="attivaModifica(docente.id, docente.nome, docente.cognome)">Annulla</button>
                                <button class="btn-new" (click)="modificaDocente(docente.id, modifica_nuovo_nome,modifica_nuovo_cognome)">Conferma Modifica</button>
                            </td>
                        </tr>    
                    }
                    @else {
                        <tr>
                            <td>#{{ $index+1 }}</td>
                            <td>{{ docente.id }}</td>
                            <td>{{ docente.nome }}</td>
                            <td>{{ docente.cognome }}</td>
                            <td style="display: flex; justify-content: space-evenly;">
                                <button class="btn-delete" (click)="eliminaDocente(docente.id)">Elimina</button>
                                <button class="btn-new" (click)="attivaModifica(docente.id, docente.nome, docente.cognome)">Modifica</button>
                            </td>
                        </tr>
                    }
                }
                @empty {
                    <div>Nessun docente da visualizzare.</div>
                }
            }
            <!-- Se la modifica è disattiva -->
            @else {
                @for (docente of docenti(); track docente.id) {
                    <tr>
                        <td>#{{ $index+1 }}</td>
                        <td>{{ docente.id }}</td>
                        <td>{{ docente.nome }}</td>
                        <td>{{ docente.cognome }}</td>
                        <td style="display: flex; justify-content: space-evenly;">
                            <button class="btn-delete" (click)="eliminaDocente(docente.id)">Elimina</button>
                            <button class="btn-new" (click)="attivaModifica(docente.id, docente.nome, docente.cognome)">Modifica</button>
                        </td>
                    </tr>
                }
                @empty {
                    <div>Nessun docente da visualizzare.</div>
                }
            }
        </tbody>
        
        <!-- backup  -->
        <!-- <tbody>
            @for (docente of docenti(); track docente.id) {
                <tr>
                    <td>#{{ $index+1 }}</td>
                    <td>{{ docente.id }}</td>
                    <td>{{ docente.nome }}</td>
                    <td>{{ docente.cognome }}</td>
                    <td>
                        <button class="btn-delete" (click)="eliminaDocente(docente.id)">🗑 Elimina</button>
                        <button class="btn-new" (click)="changePage('/docente-modify')">Modifica Docente</button>
                    </td>
                </tr>
            }
            @empty {
                <div>Nessun docente da visualizzare.</div>
            }
        </tbody> -->

    </table>
    <br>
    <div>
        <!-- <a class="btn-new" routerLink="/docente-new">Aggiungi docente</a> -->
        <button class="btn-new" (click)="changePage('/docente-new')">Aggiungi Docente</button>
    </div>
</div>